.container {
  padding: 20px 30px;

  margin: 10px;
}
header {
  padding-bottom: 30px;
  letter-spacing: -0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.actions {
  display: flex;
  column-gap: 1rem;
}
.dragactive {
  background-color: #b888dc;
  border: "none";
}
.drag-handle {
  cursor: grab;
}

.drag-handle:active {
  cursor: grabbing;
}
